/* --- Default Styling --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Mulish", serif;

}

ul {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}


/* --- General Styling - (styling used many times) ---*/
/*toggle switch*/

.index-sec-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px 0;
}

.page-wrapper {
    max-width: 768px;
    margin: 0 auto;
}

:root {
    --primary-color: #110E47;
    --secondary-color: #AAA9B1;
}

.genresUl {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.genre {
    text-transform: uppercase;
    font-size: 8px;
    background-color: #DBE3FF;
    color: #88A4E8;
    border-radius: 15px;
    padding: 4px 7px;
}

.movie-rating {
    font-size: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3px;
    color: var(--secondary-color);
}

.card-titles {
    font-size: 14px;
    color: black;
}

.section-titles {
    font-family: "Merriweather", serif;
    font-size: 16px;
    color: var(--primary-color);
}

#seeMoreBtn {
    font-size: 10px;
    border-radius: 15px;
    padding: 3px 8px;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.movie-runtime {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

/* ------------------------------ Home Page --------------------------------------- */
/* --- Header --- */

.header-wrapper {
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/*Toggle switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 18px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 28px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
}

/* Checked state */
.switch input:checked+.slider {
    background-color: white;
}

.switch input:checked+.slider::before {
    background-color: black;
}

.switch input:checked+.slider::before {
    transform: translateX(18px);
}


/* --- Now showing films --- */
.now-showing-sec {
    margin-bottom: 35px;
    padding: 0 0 0 15px;
}
/**/
#nowShowingUl {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    gap: 15px;
}

#nowShowingUl::-webkit-scrollbar {
    height: 12px;
    padding: 10px;
}

#nowShowingUl::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: var(--secondary-color);
}

#nowShowingUl::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
}

#nowShowingUl::-webkit-scrollbar-thumb:hover {
    background-color: rgb(45, 52, 120);
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    #nowShowingUl::-webkit-scrollbar {
        display: none;
    }
}

.nowShowingCard {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nowShowingImg {
    border-radius: 10px;
    overflow: hidden;
    width: 145px;
    height: 215px;
}

.nowShowingImg img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgb(176, 176, 176);
    transition: transform 0.3s ease-out;

}

.nowShowingCard:hover img {
    transform: scale(1.05);
}

.nowShowingCardText {
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 5px;
}

/* --- Popular films --- */
.popular-sec {
    margin-bottom: 30px;
    padding: 10px 15px;
}

#popularUl {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

.popularCard {
    display: flex;
    gap: 15px;
}

.popularCardImg {
    border-radius: 10px;
}

.popularCardImg img {
    width: 85px;
    border-radius: 10px;
}

/**/
.popularCardText {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popular-titles {
    max-width: 180px;
}


/* --- Controls --- */
.controls {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 25%);
    background-color: white;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
    max-width: 768px;
    width: 100%;
}

.controlsUl {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    padding: 10px 0 30px 0;
    list-style: none;
}

.controlsUl {
    width: 100%;
    height: 100%;
}

.controlsUl li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

/* ---------------------- Details of Movie -------------------------------- */

/* --- Hero --- */
.hero {
    position: relative;
    width: 100%;
}

.hero-video {
    width: 100%;
    height: 325px;

}
.hero-video iframe {
    width: 100%;
    height: 325px;
    border: none;
}

.hero-top {
    width: 100%;
    position: absolute;
    top: 25%;
}

.backBtn {
    position: absolute;
    left: 20px;
}
.backBtn svg {
    color: white;
    width: 30px;
    height: 30px;
}
.switchDetails {
    position: absolute;
    right: 20px;
}

/* -- Details content --- */
.movieDetailsContent {
    border-radius: 10px;
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.movieDetailsTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.movieDetailsInfo {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.movieDetailsInfo li {
    display: flex;
    flex-direction: column;
}
/*Cast*/
.castUl {
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    margin-bottom: 30px;
}
.castCard img {
    border-radius: 10px;
    width: 120px;
    height: 170px;
    object-fit: cover;
}
.actorCharacter {
    color: var(--secondary-color);
}